.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  color: white;
  background-color: #242424;
  border: 2px solid white;
  border-radius: 5px;
  pointer-events: painted;
  cursor: pointer;
}

.tile {
  border: 2px solid white;
  border-radius: 5px;
  height: 15vw;
  margin: 10px 0;
}
